VITE_APPS_SCRIPT_URL=https://script.google.com/macros/s/AKfycby9PMeVkW7rVeUmmhrCR7pKc4A79OYZxTMODO-znCXmEjh58E5c-9Umkx7ai3lylIgk4A/exec
VITE_API_URL=https://datapreneurs.in/api
VITE_BACKEND_URL=http://localhost:5000
VITE_CASHFREE_ENV=sandbox
VITE_CASHFREE_APP_ID=cf_test_2b9e1c8a4b3c8e5d0f1b9c7e5a2f
VITE_CASHFREE_SECRET_KEY=cf_test_2b9e1c8a4b3c8e5d0f1b9c7e5a2f
