PORT=5000
MONGO_URI=mongodb+srv://jitendrakcodes_db_user:Ashu12345@jitendradev.mongodb.net/?appName=JitendraDev
JWT_SECRET=supersecretkey

# Admin credentials — login with these on the signin page
ADMIN_ID="admin@gmail.com"
ADMIN_PASSWORD="admin123"


CASHFREE_APP_ID=TEST10983170470a727d93d5ba75699507138901
CASHFREE_SECRET_KEY=cfsk_ma_test_3df48bd9c2222185c873727725fdc208_b3799c6f
CASHFREE_WEBHOOK_SECRET=my_webhook_secret_123
CASHFREE_ENV=sandbox
BACKEND_URL=https://ines-necessitous-thetically.ngrok-free.dev
FRONTEND_URL=http://localhost:3000